{% extends "_base" %}
{% block content %}
<h1>Posts</h1>
<ul>
    {% for post in posts %}
      <li>
        <a href = "posts/{{post[0]}}">{{ post[0] }}</a>
        {{ post[1].date }}
      </li>
    {% endfor %}
</ul>
{% endblock content %}